:root{
    /* Variables texto  */
    --title: 80pt;
    --subtitle: 22pt;
    --textSize: 13pt;

    --titleMovile: 50pt;
    --subtitleMovile: 20pt;

    /* Variables color */
    --color1: white;
    --color2: #5B3088;
    --color3: #647AAD;
    --color4: #624185;
    --color5: #170F1F;
    --color6: #74bbef;
    --color7: #bddcfd;
    --color8: #4964dd;
    --color9: #d9adeb;
}

/* Fuentes */
@font-face{
    font-family: Orbitron;
    src: url(../media/fuentes/Orbitron-VariableFont_wght.ttf); 
    }
    
@font-face{
font-family: Roboto;
src: url(../media/fuentes/Roboto-VariableFont_wdth\,wght.ttf);
}
    
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* coloca las secciones */
#selector{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 50%;
    padding: 10% 0%;
}

#selector #character{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-left: 5%;
    width: 40vw;
   
}

.title_Chrc , .title_M {
    width: 40vw;
}

.title_Chrc h1, .title_M h1{
    /* justify-content: center; */
    font-size: var(--subtitle);
    font-weight:bold;
    color: var(--color1);
}

 #selector #maps{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-left: 5%;
   
}

/* contenedor de las imagenes de personajes */
#slideshow_characters{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 5% 5%;
    padding: 10px 4px;
    /* width: 50%; */

    background-color: var(--color3);
    border-radius: 10%;
    border-style: solid;
    border-width: 6px;
    border-color: var(--color6); 
}

/* contenedor de las imagenes de mapas */
#slideshow_maps{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10% 0%;
    /* width: 75%; */
    
}

#slideshow_characters img{
    border-radius: 50%;
    height: 125px;
    background-color: var(--color7);
    border-style:inset;
    border-width: 5px ;
    border-color: var(--color4);
    
}

#slideshow_maps img{
    border-radius: 50%;
    width: 120px;
}

/* Sección personaje elegido */

.chosen_chrc{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main_chrc{
    padding: 5% 10%;
}

.main_chrc img{
    width: 50vw;
}

.stats{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 40vw;
}

.stats h2{
    font-family: Orbitron;
    font-size: var(--subtitleMovile);
    color: white;
}





