:root{
    /* Variables texto  */
    --title: 80pt;
    --subtitle: 22pt;
    --textSize: 13pt;

    --titleMovile: 50pt;
    --subtitleMovile: 20pt;

    /* Variables color */
    --color1: white;
    --color2: #5B3088;
    --color3: #647AAD;
    --color4: #624185;
    --color5: #170F1F;
    --color6: #74bbef;
    --color7: #bddcfd;
    --color8: #4964dd;
    --color9: #d9adeb;
}

/* Fuentes */
@font-face{
    font-family: Orbitron;
    src: url(../media/fuentes/Orbitron-VariableFont_wght.ttf); 
    }
    
@font-face{
font-family: Roboto;
src: url(../media/fuentes/Roboto-VariableFont_wdth\,wght.ttf);
}
    
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* coloca las secciones */
#selector{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 50%;
    padding: 10% 0%;
}

#selector #character, #selector #maps{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-left: 5%;
    width: 40vw;
   
}

.title_Chrc , .title_M {
    width: 40vw;
}

/* contenedor de las imagenes de personajes */
#slideshow_characters{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 5% 5%;
    padding: 10px 4px;
    /* width: 50%; */

    background-color: var(--color3);
    border-radius: 50px;
    border-style: solid;
    border-width: 6px;
    border-color: var(--color6); 
}

/* contenedor de las imagenes de mapas */
#slideshow_maps{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 5% 5%;
    padding: 10px 4px;

    background-color: var(--color3);
    border-radius: 50px;
    border-style: solid;
    border-width: 6px;
    border-color: var(--color6); 
    overflow-x: auto; /* Permite el desplazamiento horizontal */
    gap: 20px; /* Espacio entre las imágenes */
    scroll-snap-type: x mandatory; /* Para hacer que el scroll se "detenga" en cada imagen */
    
}

.map {
    flex: 0 0 auto; /* Esto asegura que las imágenes no se estiren y tengan el tamaño adecuado */
    width: 125px; /* Puedes ajustar este tamaño según lo que necesites */
    height: 125px; /* Mantener la altura */
    scroll-snap-align: center; /* Para que se enfoque en la imagen cuando se desplace */
}

#slideshow_maps img {
    width: 100%; /* La imagen ocupa todo el ancho del contenedor */
    height: 100%; /* La imagen ocupa toda la altura del contenedor */
    object-fit: cover; /* Para que la imagen se ajuste sin distorsionarse */
    border-radius: 50%;
    background-color: var(--color7);
    border-style: inset;
    border-width: 5px;
    border-color: var(--color4);
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    border-radius: 50%;
    font-size: 20px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}



#slideshow_characters img {
    border-radius: 50%;
    height: 125px;
    background-color: var(--color7);
    border-style:inset;
    border-width: 5px ;
    border-color: var(--color4);
    
}

/* Sección personaje elegido */

.chosen_chrc{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main_chrc{
    padding: 5% 10%;
    margin-right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_chrc img{
    width: 50vw;
    /* position: absolute; */
}


/* .chosen_map{
    position: relative;
    z-index: -100;

} */

/* Barras de stats */
.stats{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10%;
}

.stats_bars{
    width: 100%;
}

.stats span{
    font-family: Orbitron;
    font-size: var(--subtitleMovile);
    color: white;
    display: flex;
    justify-content: space-between;
}
.stats_hp, .stats_atk {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 10px;
}

.hp_bar, .atk_bar{
    position: relative;
    border: 2px solid var(--color9);
    border-radius: 20px;
}

.hp_bar div, .atk_bar div{
    position: relative;
    width: 0;
    height: 8px;
    border-radius: 10px;
    background-color: var(--color9);
}

/* ANIMACIONES */
#hp-barra{
    animation: hp-barra 2s forwards;
}

@keyframes hp-barra{
    100%{
        width: 90%;
    }
}

#atk-barra{
    animation: atk-barra 2s forwards;
}

@keyframes atk-barra{
    100%{
        width: 50%;
    }
}





