:root{
    /* Variables texto  */
    --title: 80pt;
    --subtitle: 22pt;
    --textSize: 13pt;

    --titleMovile: 50pt;
    --subtitleMovile: 20pt;

    /* Variables color */
    --color1: white;
    --color2: #5B3088;
    --color3: #647AAD;
    --color4: #624185;
    --color5: #170F1F;
    --color6: #74bbef;
    --color7: #bddcfd;
    --color8: #4964dd;
    --color9: #d9adeb;
    --color10: #ea62da;
}

/* Fuentes */
@font-face{
font-family: Orbitron;
src: url(../media/fuentes/Orbitron-VariableFont_wght.ttf); 
}

@font-face{
font-family: Roboto;
src: url(../media/fuentes/Roboto-VariableFont_wdth\,wght.ttf);
}

*{
margin: 0;
padding: 0;
box-sizing: border-box;
scroll-behavior: smooth;
}

/* menu */
header{
position: fixed;
z-index: 100;
width: 100%;

display: flex;
justify-content:space-between;

background: linear-gradient(0deg, var(--color5) 0%, var(--color4) 100%);
background-color: var(--color5);
opacity: 1
}

header div{
display: flex;
justify-content:start;
align-items: center;
padding: 1rem;
}

p{
font-family: Roboto;
}

#logo{
    align-self: start;
    
}

#logo img{
    height: 30%;
    width: 30%;
}


header #menu {
display: flex;
justify-self: center;
flex-direction: row;
padding: 1rem;
}

nav .menu-flex {
list-style: none;
display: flex;
justify-content: center;
gap: 3vw;
align-items: center;
}

/* botones del menu */

nav .menu-flex a {
display: block;

background-color: var(--color2);
padding: 10px 20px;
border-radius: 100px;
box-shadow: -2px -5px 0 var(--color3);

font-weight: bold;
font-family: Orbitron;
font-size: var(--textSize);
color: var(--color1);
text-decoration: none;
transition: 0.33s;
}

nav .menu-flex a:hover{
color: var(--color5);
background-color: var(--color1);
box-shadow: 0px 0px 10px var(--color1), 0px 0px 10px var(--color1), 0px 0px 10px var(--color1);
}

.btnCloseMenu, nav .menu-flex .fa-xmark{
display: none;
}

#menuToggle{
appearance: none;
}

.btnOpenMenu, nav .menu-flex .fa-xmark{
display: none;
}
.btnCloseMenu{
background-color: var(--color2);
padding: 10px 20px;
border-radius: 100px;
box-shadow: -2px -5px 0 var(--color3);
}

.btnOpenMenu .fa-bars:hover{
color: var(--color1);
}

nav .menu-flex .fa-xmark:hover{
color: var(--color1);
}

.btnOpenMenu .fa-bars, nav .fa-xmark{
cursor: pointer;
}

/* body */

h1{
    display: flex;
    /* justify-content: center; */
    font-size: var(--title);
    font-family: Orbitron;
    font-weight: bolder;
    color: var(--color1);
}

.main-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    width: 100%;
    height: auto;
    background: var(--color5);
}

.main-image img {
    width: 100%;
    height: auto;
}

.main-image h1 {
    position: absolute;
    bottom: 10%; /* Ajusta la posición vertical del título */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: var(--color2);
}

.info{
    background-color: var(--color5);
    

}

/*galería*/
#galeria {
    background-color: #2c023b;
}
/* Slideshow container */
#galeria .slideshow-container {
    max-width: 750px;
    position:relative;
    flex-grow: 1;
    margin: auto;
}


#galeria .mySlides {
    display: none;
}

#galeria .mySlides img {
    width: 100%;    /* Se adapta al ancho del contenedor */
    height: auto;   /* Mantiene la proporción original de la imagen */
    object-fit: cover; /* Opcional: recorta la imagen para llenar el espacio sin deformarla */
}

#galeria .show-slide {
    display: block;
}

#galeria .hide-slide {
    display: none;
}


#galeria .prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


#galeria .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


#galeria .prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


#galeria .text {
    color: #ffffff;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}


#galeria .numbertext {
    color: #ffffff;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
#galeria .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

#galeria .active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
#galeria .fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

/*formulario */

#formulario {
    width: 400px;
    background-color: #624185;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    color: white;
}

#formulario h1 {
    font-size: 35px;
    margin-bottom: 20px;
    font-family: "Orbitron";
}

#formulario h2 {
    font-size: 20px;
    margin-bottom: 20px;
    font-family: "Orbitron";
}

#formulario .controls{
    width: 100%;
    background: #d9adeb;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #170F1F;
    font-size: 20px;
    color: white;
}

#formulario p{
    height: 40px;
    text-align: center;
    font-size: 18px;
}

#formulario .botons {
    width: 100%;
    background: #170F1F;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}

#formulario .botons:hover {
    color:#5B3088;
    background-color: #d9adeb;
}

footer {
    background-color: #2c023b; /* Igual que el fondo de la sección "About the Game" */
    color: var(--color1); /* Asegura que el texto sea legible */
    padding: 2rem;
    text-align: center; /* Opcional: centra el contenido */
}

#footer {
    background-color: #9c6ab5; /* Morado claro */
    color: white;
    padding: 2rem;
    text-align: center;
    font-family: Orbitron, sans-serif;
}

#footer h2 {
    font-size: 24px;
    margin-bottom: 1rem;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.social-icons a {
    display: inline-block;
    width: 40px;
    height: 40px;
}

.social-icons img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.social-icons img:hover {
    transform: scale(1.1); /* Pequeño efecto de zoom */
}

#about-the-game {
    background-color: #2c023b; /* Morado oscuro */
    padding: 3rem 2rem;
    color: var(--color1);
}

.about-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 80%; /* Controla el ancho del contenido */
    margin: 0 auto; /* Centra horizontalmente */
}

.about-text {
    flex: 1;
    min-width: 300px;
    background-color: #5B3088;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    font-family: Roboto;
    font-size: var(--textSize);
    text-align: center; /* Centra el texto */
}

.about-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.about-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.about-text h2 {
    font-family: Orbitron;
    font-size: var(--subtitle);
    margin-bottom: 1rem;
    color: var(--color6);
}

.about-text p {
    font-size: var(--textSize);
    line-height: 1.5;
}

.about-image {
    flex: 1;
    min-width: 300px;
}

.about-image img {
    max-width: 100%;
    height: auto; /* Respeta el contenido de la página */
}

/* DEMO */
body{
    background-color: #170F1F;
}

.title_M, .title_Chrc{
    background-color: var(--color2);
    padding: 10px ;
    border-radius: 100px;
    box-shadow: -2px -5px 0 var(--color3);
    
    font-size: var(--subtitle);
    font-family: Orbitron;
    font-weight: bold;
    color: var(--color1);
    text-decoration: none;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--color8);
}

.title_M h2, .title_Chrc h2{
    margin-left: 5%;

}

.slides_chrc{
    border-radius: 100px;
}

span{
    color: var(--color1);
}


/* Estilos del icono de ajustes */
#settings-icon {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    color: var(--color1);
}

#settings-icon:hover {
    color: var(--color9);
    transition: 0.6s;
}

/* Estilos del menú de ajustes */
#settings-menu {
    position: absolute;
    top: 50px;
    right: 20px;
    width: 220px;
    background: var(--color2);
    color: var(--color1);
    padding: 15px;
    border-radius: 10px;
    display: none;
    font-family: Roboto;
}

/* Estilos de los elementos del menú */
.settings-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

/* Estilos del control deslizante */
#volume-slider{
    accent-color: var(--color6);
    width: 100%;  
}

#mute-checkbox, #dark-mode-toggle{
    accent-color: var(--color9);
}

/* Estilos del modo claro)*/
body.dark-mode {
    background-color: var(--color1);
}

body.dark-mode header {
    background: linear-gradient(0deg, var(--color1) 0%, var(--color4) 100%);
    background-color:var(--color1);
}

body.dark-mode #settings-menu {
    background-color: var(--color9);
    color: var(--color2);
    font-weight: bold;
    
}

body.dark-mode #mute-checkbox, #dark-mode-toggle{
    accent-color: var(--color2);
}

body.dark-mode span{
    color: var(--color2);
}

/*MEDIA QUERY*/
/* Tablet */
@media screen and (max-width: 1030px){
    /* MAIN */
 
}

@media screen and (max-width: 580px) {

    /* MENU */
   #logo{
        padding: 1% 2%;
        display: flex;
        align-self: flex-start; 

   }

   #menu .menu-flex{
        display: block;
        padding-top: 30%;
   }

   .menu-flex {
        flex-direction: column;
        vertical-align: middle;
        max-height: 0px;
        overflow: hidden;
        transition: 0.35s;
   }

   .menu-flex  li{
        padding: 5% 0%;
    }

    .menu-flex  li a{
        text-align: center;
    }

   .btnCloseMenu{
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
   }

   .btnCloseMenu i{
        font-size: 5vw;
        color: var(--color1);
    }

  #menuToggle:checked ~ .menu-flex{
        max-height: 350px;
    }

    /* MAIN */

    
    /* Footer */

    #formulario {
        width: 90%; 
        padding: 15px; 
        margin-top: 30px; 
    }

    #formulario .controls,
    #formulario .botons {
        font-size: 16px; 
    }
    
}

@media screen and (max-width: 768px) {
    .about-container {
        flex-direction: column;
        text-align: center;
    }

    .about-text, .about-image {
        width: 100%;
    }

    .main-image h1 {
        font-size: var(--titleMovile);
    }
}

/* Mobile*/
@media screen and (max-width: 480px){
    /* MAIN */
 
}

@media screen and (max-width: 480px) {

    /* MENU */
   #logo{
        padding:  2%;
        display: flex;
        align-self: flex-start; 

   }

   #menu .menu-flex{
        display: block;
        padding-top: 30%;
   }

   .menu-flex {
        flex-direction: column;
        vertical-align: middle;
        max-height: 0px;
        overflow: hidden;
        transition: 0.35s;
   }

   .menu-flex  li{
        padding: 5% 0%;
    }

    .menu-flex  li a{
        text-align: center;
    }

   .btnCloseMenu{
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
   }

   .btnCloseMenu i{
        font-size: 5vw;
        color: var(--color1);
    }

  #menuToggle:checked ~ .menu-flex{
        max-height: 350px;
    }

    /* MAIN */
 

    /* Footer */

    #formulario {
        width: 100%; 
        padding: 15px; 
        margin-top: 30px; 
    }

    #formulario .controls,
    #formulario .botons {
        font-size: 16px; 
    }
    
}

/* queda por arreglar esta parte que es la del medio para que sea responsive */
@media screen and (max-width: 480px) {
    .about-container {
        flex-direction: column;
        text-align: center;
    }

    .about-text, .about-image {
        width: 50%;
    }

    .main-image h1 {
        font-size: var(--titleMovile);
    }
}
